@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-striped" id="userTable">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" />
                </th>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Last Login Time</th>
                <th>Registration Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="row-select">
                    <td class="check">
                        <input type="checkbox" class="userCheckbox"/>
                    </td>
                    <td class="Id">@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.Email</td>
                    <td>@user.LastLoginTime</td>
                    <td>@user.RegistrationTime</td>
                    <td>@(user.IsActive ? "Blocked" : "Active")</td>
                </tr>
            }
        </tbody>
    </table>

    <div id="toolbar">
        <button id="blockButton" class="btn btn-warning">Block</button>
        <button id="unblockButton" class="btn btn-success">Unblock</button>
        <button id="deleteButton" class="btn btn-danger">Delete</button>
    </div>
</div>

